.textmenu{
  color: #f2d3bf;
}
 ul{
  list-style-type: none;
 }

.btncuston{
  color: white;
  width: 150px;
  height: 25;
  display: flex;




}
.btn-cust:hover{
  background-color: #f2d3bf;

}
.colormenu{
  background-color: #4b3832;
}

 /*clases nuevas*/

  .item-imagen{
    min-width: 15px;
    min-height: 150px;
    object-fit: contain;
    margin-right: 15px;

  } 
  .menu-list img {
    max-width: 150px; 
    height: 200px;
    width: 200px;
    object-fit: cover;
   
  }
/*
  .item-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px black;
    word-wrap: break-word;
  }

  .item-descripcion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 6;
    flex-shrink: 6;
    margin: 0 0.5rem;
  }
  .item-price{
    margin-top: 0.25rem;
    font-weight: 800;
    color: turquoise;
    font-size: 1.3rem;
  }
  .item_op {
    display: flex;
    justify-content: flex-end;
    flex-grow: 5;
    flex-shrink: 5;
    max-width: 100%;
} */
.select{
    width: 10rem;
    border-radius: 8px;
    border: 1px solid;
    font: inherit;
    padding-left: 0.5rem;
} 


/*boton carrito*/

.boton-carrito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e7e42e;
  color: #000000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family:Arial, Helvetica, sans-serif
}

.boton-carrito i {
  font-size: 24px;
}

.contador {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

